SUPABASE_URL=https://ulraxpmrtezhmabceblm.supabase.co
SUPABASE_PUBLISHABLE_KEY=your-full-publishable-key
SUPABASE_SECRET_KEY=your-full-secret-key
SUPABASE_JWKS_URL=https://ulraxpmrtezhmabceblm.supabase.co/auth/v1/.well-known/jwks.json

API_PORT=4000
WEB_ORIGIN=http://localhost:3000
